*{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

button{
    padding: 10px 20px;
    font-weight: 600;
    background-color: crimson;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    z-index: 9;
}

button:active{
    scale: 0.95;
}